* {
    margin:0%;
    padding:0%;
    text-decoration: none;
    list-style: none;
    box-sizing: border-box;
}
body {
    font-family: 'Nova Square', sans-serif;
    background-color:black;
}

/* Nav Bar */
.header {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    padding: 1.3rem 10%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    z-index: 100;
}
.header::before {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgb(1, 1, 50);
    z-index: -1;
}
.logo {
    position: relative;
    right : 40px;
    font-size: 40px;
    font-weight: 650;
    color:#fff;
    text-decoration: none;
}
.navbar a {
    font-size: 23px;
    color: #fff;
    text-decoration: none;
    font-weight: 500;
    margin-left: 35px;
}
a.active,a:hover {
    background-color: #0a12ef;
    transition: .5s;
    padding: 6px;
    border-radius: 8px;
}
#check {
    display: none;
}
.icons {
    position: absolute;
    right: 5%;
    font-size: 30px;
    color: #fff;
    cursor: pointer;
    display: none;
}
.icons #close-icon {
    font-size: 26px;
}

/* Main Page */
.main {
    display: flex;
    justify-content: center;
    margin-top: 111px;
}
.main img {
    margin-top: 32px;
    width: 450px;
}
.mainText {
    margin-top: 125px;
}
.mainText h1 {
    font-size: 65px;
    font-family: 'Bungee Spice', sans-serif;
}
.mainText p {
    color: white;
    font-family: 'Nova Square', sans-serif;
    font-size: 18px;
    margin-top: 22px;
}
.mainText button {
    width: 140px;
    height: 40px;
    background-color: rgb(255, 6, 48);
    color: white;
    border: none;
    margin-top: 22px;
    font-family: 'Nova Square', sans-serif;
    font-size: 20px;
    cursor:pointer;
}

/* Challenges */
.challenges {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}
.challenges .card {
    margin-top: 35px;
    width: 330px;
    margin-inline: 20px;
    background-color: rgb(192, 193, 255);
}
.card img {
    width: 100%;
    height: 290px;
}
.crdText p {
    margin-top: 13px;
}
.crdText {
    padding: 11px;
    text-align: center;
    color: rgb(6, 6, 71);
    font-size: 20px;
    font-family: 'Nova Square', sans-serif;
    font-weight: bold;
}
.crdText button {
    margin-top: 13px;
    width: 90px;
    height: 34px;
    background-color:rgb(2, 2, 39);
    color:white;
    font-family: 'Nova Square', sans-serif;
    font-size: 18px;
    border-radius: 21px;
    cursor:pointer;
}

/* Plans */
.head {
    padding: 88px;
    font-family: 'Nova Square', sans-serif;
    color: white;
    font-size: 25px;
    text-align:center;
    margin-top: 40px;
}
.plans {
    display:flex;
    flex-wrap: wrap;
    justify-content: center;
}

.plancard {
    width: 290px;
    padding: 22px;
    text-align: center;
    box-shadow: 1px 3px 3px 3px rgb(216, 216, 216);
    border-radius: 3px;
    margin-inline: 20px;
    margin-top: 35px;
}
.plancard p {
    color: white;
    margin-top: 22px;
}
.plancard button {
    margin-top: 22px;
    width: 90px;
    height: 34px;
    background-color:cornflowerblue;
    color: white;
    border-radius: 20px;
    font-family: 'Nova Square', sans-serif;
    font-size: 16px;
    border: none;
    cursor:pointer;
}
.plancard h2 {
    padding: 22px;
    background-color: rgb(95, 78, 240);
    color: white;
    border-radius: 20px;
}

/* Members */
.member {
    width: 900px;
    height: 330px;
    position: relative;
    margin: auto;
    overflow: hidden;
}
.slider {
    width: 100%;
    height: 100%;
    position: absolute;
    margin: auto;
    text-align: center;
    transition: all 1s ease;
}
.slider img {
    width: 250px;
    height: 220px;
    border-radius: 5px;
    margin-inline: 20px;
    text-align: center;
}

/* Connect */
.head #connect {
    margin-top:-100px;
}
.connect {
    width: 400px;
    padding: 22px;
    border-radius: 10px;
    text-align: center;
    margin: auto;
    margin-top: -55px;
    background-color:rgb(2, 224, 253);
}
.connect input {
    width: 90%;
    height: 22px;
    padding: 20px;
    border: none;
    border-radius: 10px;
    font-family: 'Nova Square', sans-serif;
    font-size: 18px;
    margin-top: 22px; 
    align-items: center;
}
.connect button {
    width: 120px;
    height: 35px;
    background-color:rgb(4, 26, 46);
    color:white;
    font-family: 'Nova Square', sans-serif;
    font-size: 20px;
    border: none;
    border-radius: 10px;
    margin-top: 22px;
    cursor: pointer;
}

/* password eye icon */
.pass {
    width: 100%;
    display: inline-block;
    position: relative;
    align-items: center;
}
.password input {
    position: relative;
    padding: 11px;
    border: none;
    outline: none;
}
#eye {
    position: absolute;
    right: 22px;
    height: 10px;
    top: 0;
    margin-top: 35px;
    align-items: center;
    cursor: pointer;
    color:rgb(65, 65, 65);
}

/* Footer */
.footer {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    padding: 66px;
    margin-top: 66px;
    background-color: rgb(9, 9, 9);
    color: white;
}
.text p {
    margin-top: 13px;
}
.text h2 {
    margin-top:22px;
}

/* card Detail */
.detailCard {
    color: white;
    text-align: center;
    margin-top: 30px;
    font-size: 30px;
}
.detailCard img {
    width: 30%;
    height: 30%;
    justify-content: space-around;
    margin-top: 30px;
}
.detailCard p {
    font-size: 20px;
    margin-top: 22px;
}
.detailCard button {
    width: 90px;
    height: 33px;
    border-radius: 22px;
    border: none;
    font-size: 18px;
    background-color:aliceblue;
    margin-top: 22px;
    cursor: pointer;
}
.detailCard a {
    padding: 5px 22px;
    border-radius: 22px;
    border:none;
    font-size: 18px;
    color: white;
    background-color:red;
    text-decoration:none;
}

/* contact icon */
#user-icon {
    position: relative;
    left: 35px;
    color:rgb(65, 65, 65);
}
#email-icon {
    position: relative;
    left: 35px;
    color:rgb(65, 65, 65);
}
#password-icon {
    position: relative;
    left: 35px;
    color:rgb(65, 65, 65);
}
input:placeholder-shown {
    text-align:center;
}

/* Breakpoints */
@media screen and (max-width:1100px) {
    .main {
        text-align: center;
        display: block;
    }
}

@media screen and (max-width: 1024px){
    .header {
      padding: 1.3rem 5%;
    }
    .logo {
        position: relative;
        left: 0px;
    }
}

@media screen and (max-width:940px) {
    .logo {
        font-size: 33px;
    }
    .navbar a {
        position: relative;
        text-wrap: wrap;
        left: 0px;
        margin-left: 18px;
        font-size: 20px;
    }
    .member {
        width: 90%;
    }
    .slider img {
        width: 170px;
        margin-inline: 11px;
    }
}
  
@media screen and (max-width: 768px) {
    .icons {
        display: block;
    }

    #check:checked~.icons #menu-icon {
        display: none;
    }

    .icons #close-icon {
        display: none;
    }

    #check:checked~.icons #close-icon {
        display: block;
    }
    .navbar {
        position: absolute;
        top: 100%;
        left: 0;
        width: 100%;
        height: 0;
        background: blue;
        box-shadow: 0 .5rem 1rem rgba(0, 0, 0, -1);
        overflow: hidden;
        transition: .3s ease;
    }
    #check:checked~.navbar {
        height: 18rem;
    }
    .navbar a {
        display: block;
        font-size: 20px;
        font-weight: 500;
        margin: 1.6rem 0;
        text-align: center;
    }
    a.active,a:hover {
        color: #01031c;
        transition: .5s;
    }
    h1 {
        text-wrap: wrap;
        font-size: 50px;
    }
}

@media screen and (max-width:750px) {
    .slider img {
        width: 130px;
        height: 160px;
        margin-inline: 6px;
    }
}

@media screen and (max-width:510px) {
    .member {
        width: 99%;
    }
    .slider img {
        width: 90px;
        height: 120px;
        margin-inline: 2px;
    }
    .connect {
        width: 80%;
    }
    .main h1 {
        font-size: 40px;
    }
    .main p {
        font-size: 14px;
    }
    .main button {
        font-size: 16px;
        width: 100px;
    }
    .main img {
        width: 80%;
    }
    .head {
        font-size:20px;
        justify-content: center;
    }
    .detailCard {
        font-size: 20px
    }
    .detailCard p {
        font-size: 16px;
    }
    .detailCard button {
       width: 60px;
       font-size: 14px;
    }
    .detailCard a {
        width: 50px;
        font-size: 14px;
    }
    .conbtn {
        width: 45%;
    } 
    h1 {
        font-size: 35px;
    }  
}

@media screen and (max-width: 325px) {
    #user-icon {
        position:relative;
        left: -65px;
        top: 52px;
    }
    #email-icon {
        position:relative;
        left: -65px;
        top: 52px;
    }
    #password-icon {
        position:relative;
        left: -65px;
        top: 52px;
    }
    #eye {
        position: absolute;
        top: 17px;
    }
}


